@import url();

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}

body {
    
    color: azure;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: 100;
    z-index: 100;

}
.logo {
    position: relative;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    
}


.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 3s;
}
.navbar a:hover,
.navbar a.active {
    color: aqua;

}

.Home {
    height: 100vh;
    background: url('home\ 2.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.Home-content {
    max-width: 600px;
}

.Home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1,2;
}

.Home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    
}

.Home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}

.Home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
    
}

.Home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
    
}

.Home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.7s;
    
}

.Home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.Home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
    
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:#00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 2s;

} 

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: #00abf0;

}

.btn-box a:nth-child(1):hover{
    color: #071324;
}

.btn-box a:nth-child(1)::before{
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 2S;
}

.btn-box a:hover::before {
    width: 100%;
}

.Home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.Home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.8s;
    z-index: 2;
    
}

.Home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 2s;
}

.Home-sci a:hover {
    color: #071324;
}

.Home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: 2s;
}

.Home-sci a:hover::before {
    width: 100%;
}

.Home-imghover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: mainpactivehover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;

}

.Home-imghover::after {
    position: relative;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
    
}

.Home-imghover:hover{
    background: #081b29;
    opacity: .8;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}


@keyframes mainpactivehover {
    100% {
        pointer-events: auto;
    }
}